@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #12bca2;
  --secondary: #6d15df;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  align-items: center;
  
}
h2 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 600;
  margin: 0 0 10px;
  
}
nav {
  background: var(--primary);
  padding: 10px 20px;
  text-align: center;
}
nav a {
  color: #f2f2f2;
  margin: 10px;
  display: inline-block;
}
nav h1 {
  color: #fff;
}
.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}
/* incident-grid*/

.Incident-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1 fr 1fr 1fr;  
  grid-gap: 40px;
}

.incident-card {
  width :100%;
  padding: 10px;
  background: #fff;
  box-sizing: border-box ;
  border-radius: 6px;
  position : relative;
}

.incident-card .IncidentDate {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--primary);
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;

}
.incident-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

/*forms */
form {
  background : #fff;
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 6px;
}
form input, form textarea {
  display:block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
border:1px solid #ddd;  
margin: 10px 0 20px;
}
form button {
  background: var(--primary);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
  cursor: pointer;
}
form button:hover {
  background: var(--secondary);
}
form .error {
  color: red;
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0 0;
}
form .success {
  color: green;
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0 0;
}


/* incident card */
.incident-card h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 10px;
}
.incident-card buttons {
  background: var(--primary);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
  cursor: pointer;
  margin: 10px 0 0;
  text-align: right;
}
.incident-card i{
  color: var(--primary);
  font-size: 20px;
  margin-right: 10px;
}
.order-by button{
  background: var(--primary);
  color: #fff;
  border: black;
  padding: 0px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
  cursor: pointer;
  margin: 10px 0 0;
  text-align: right;
  
}
.order-by button:hover {
  background: var(--secondary);
}
.order-by {
  text-align: center;

}
.IncidentTable th, .IncidentTable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;

}
.IncidentTable tr:hover {
  background-color: #ddd;
}
.IncidentTable table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}

.pagination {
  background: var(--primary);
  color: #fff;
  border: none;
  padding: 60px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
  font-family: "Poppins";
  cursor: pointer;
  margin: 10px 0 0;
  text-align: right;
}

.home .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
}
.home .content .Barcharts {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  box-sizing: border-box ;
  border-radius: 6px;
  position : relative;
  border-color: #12bca2;
}