@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #12bca2;
  --secondary: #6d15df;
}
h1,h2,h3 {
  margin: 0;
}

body {
  margin: 0;
  color: #333;
  font-family: 'Poppins';
  background: #f2f2f2;
}
nav {
  background: var(--primary);
  padding: 10px 20px;
  text-align: center;
}
nav a {
  color: #f2f2f2;
  margin: 10px;
  display: inline-block;
}
nav h1 {
  color: #fff;
}
.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}
/* incident-grid*/

.Incident-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1 fr 1fr 1fr;  
  grid-gap: 40px;
}

.incident-card {
  width :100%;
  padding: 10px;
  background: #fff;
  box-sizing: border-box ;
  border-radius: 6px;
  position : relative;
}

.incident-card .IncidentDate {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--primary);
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;

}
.incident-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

/*forms */
form {
  background : #fff;
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 6px;
}
form input, form textarea {
  display:block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
border:1px solid #ddd;  
margin: 10px 0 20px;
}
form button {
  background: var(--primary);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
  cursor: pointer;
}
form button:hover {
  background: var(--secondary);
}
form .error {
  color: red;
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0 0;
}
form .success {
  color: green;
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0 0;
}
form .IncidentDescription {
  height: 100px;
  /*make text box bigger */
  scrollbar-width: none;
}

/* incident card */
.incident-card h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 10px;
}
.incident-card buttons {
  background: var(--primary);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
  cursor: pointer;
  margin: 10px 0 0;
  text-align: right;
}
.incident-card i{
  color: var(--primary);
  font-size: 20px;
  margin-right: 10px;
}